@using Microsoft.AspNetCore.Identity

<ul class="navbar-nav">
    @if (User.IsInRole("Customer"))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Order" asp-action="Index" title="Order">
                Lịch sử đơn hàng
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark position-relative" asp-controller="Cart" asp-action="Index" title="Cart">
                Giỏ hàng
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger quantity-items d-none">
                </span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Customer" asp-action="Index" title="Customer Manage">
                Tạo workshop
            </a>
        </li>

    }
    @if (User.IsInRole("Admin"))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Index">Admin</a>
        </li>
    }
    @if (User.Identity.IsAuthenticated)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Users" asp-action="Profile" title="Profile">Hello, @User.Identity?.Name!</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Identity" asp-action="logout" title="Logout">Đăng xuất</a>
        </li>
    }

    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" id="register-link">Đăng ký</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="login-link">Đăng nhập</a>
        </li>
    }
</ul>
