@using Microsoft.AspNetCore.Identity

<ul class="navbar-nav">
    @if (User.IsInRole("Customer"))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Order" asp-action="Index" title="Order">
                Lịch sử đơn hàng
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark position-relative" asp-controller="Cart" asp-action="Index" title="Cart">
                Giỏ hàng
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger quantity-items d-none">
                </span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Customer" asp-action="Index" title="Customer Manage">
                Tạo workshop
            </a>
        </li>

    }
    @if (User.IsInRole("Admin"))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Index">Admin</a>
        </li>
    }
    @if (User.Identity.IsAuthenticated)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Users" asp-action="Profile" title="Profile">Hello, @User.Identity?.Name!</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Identity" asp-action="logout" title="Logout">Đăng xuất</a>
        </li>
    }

    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" id="register-link">Đăng ký</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="login-link">Đăng nhập</a>
        </li>
    }
</ul>

<!-- Đăng nhập Popup Form -->
<div id="otp-auth-login-popup" class="d-flex align-items-center justify-content-center position-fixed top-0 start-0 w-100 h-100 d-none" style="background: rgba(0, 0, 0, 0.5); z-index: 9999;">
    <div class="otp-auth-login-popup-content bg-white p-4 rounded shadow position-relative" style="max-width: 400px; width: 100%;">
        <div class="otp-auth-popup-logo text-center mb-3">
            <a href="" class="custom-logo-link">
                <img decoding="async" width="150" height="53" src="~/Images/LogoFinal.png" class="custom-logo" alt="Workshop Ticket">
            </a>
        </div>
        <div class="otp-auth-login-popup-header text-center mb-4">
            <h3>Đăng nhập để khám phá <b>worQshop</b></h3>
        </div>
        <div class="otp-auth-login-popup-body">
            <form id="login-form" enctype="multipart/form-data">
                <div class="form-group mb-3">
                    <label for="username-email" class="form-label">Email *</label>
                    <input type="text" id="login-email" autocomplete="email" name="Email" class="form-control" placeholder="Nhập Email của bạn" required>
                </div>
                <div class="form-group mb-3">
                    <label for="password" class="form-label">Mật khẩu *</label>
                    <input type="password" id="login-password" autocomplete="current-password" name="Password" class="form-control" placeholder="Nhập mật Khẩu của bạn" required>
                </div>
                <div class="form-group d-grid gap-2 mb-3">
                    <button type="submit" class="btn btn-primary" id="login-submit-button">Đăng nhập ngay</button>
                </div>
                <div class="text-center">
                    <a href="javascript:void(0);" id="forgot-password-link">Quên mật khẩu?</a><br />
                    <a href="javascript:void(0);" id="register-link2">Đăng ký ngay</a>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Đăng ký Popup Form -->
<div id="otp-auth-register-popup" class="d-flex align-items-center justify-content-center position-fixed top-0 start-0 w-100 h-100 d-none" style="background: rgba(0, 0, 0, 0.5); z-index: 9999;">
    <div class="otp-auth-register-popup-content bg-white p-4 rounded shadow position-relative" style="max-width: 400px; width: 100%;">
        <div class="otp-auth-popup-logo text-center mb-3">
            <a href="" class="custom-logo-link">
                <img decoding="async" width="150" height="53" src="~/Images/LogoFinal.png" class="custom-logo" alt="Workshop Ticket">
            </a>
        </div>
        <div class="otp-auth-register-popup-header text-center mb-4">
            <h3>
                Đăng ký tài khoản <b>worQshop</b>
            </h3>
        </div>
        <div class="otp-auth-register-popup-body">
            <!-- Form Đăng Ký -->
            <form id="register-form" class="d-block">
                <div class="form-group mb-3">
                    <label for="name" class="form-label">
                        Họ và tên *
                    </label>
                    <input type="text" id="register-name" name="Name" autocomplete="name" class="form-control" placeholder="Nhập họ và tên của bạn" required>
                </div>
                <div class="form-group mb-3">
                    <label for="phone" class="form-label">Số điện thoại *</label>
                    <input type="tel" id="register-phone" name="Phone" autocomplete="phone" class="form-control" placeholder="Nhập số điện thoại của bạn" required>
                </div>
                <div class="form-group mb-3">
                    <label for="email" class="form-label">Email *</label>
                    <input type="email" id="register-email" name="Email" autocomplete="email" class="form-control" placeholder="Nhập địa chỉ email của bạn" required>
                </div>
                <div class="form-group mb-3">
                    <label for="register-password" class="form-label">Mật khẩu *</label>
                    <input type="password" id="register-password" autocomplete="current-password" name="Password" class="form-control" placeholder="Nhập mật khẩu của bạn" required>
                </div>
                <div class="form-group mb-3">
                    <span>Bằng việc đăng ký, bạn đồng ý với Điều khoản dịch vụ và Chính sách bảo mật của chúng tôi.</span>
                </div>
                <div class="form-group d-grid gap-2 mb-3">
                    <button type="button" class="btn btn-primary" id="send-otp-register">Đăng ký</button>
                </div>
            </form>

            <!-- Form Xác Minh OTP -->
            <form id="otp-verify-step" class="d-none">
                <span class="mb-3">
                    Vui lòng kiểm tra email của bạn để nhận mã OTP và hoàn tất quá trình xác thực tài khoản
                </span>
                <div class="form-group mb-3">
                    <label for="otp-code" class="form-label">Nhập mã xác thực OTP *</label>
                    <input type="text" id="otp-code" name="OtpCode" class="form-control" placeholder="Mã xác thực gồm 6 chữ số" required>
                </div>
                <div class="form-group d-grid gap-2 mb-3">
                    <button type="button" class="btn btn-primary" id="verify-otp-register">Xác nhận</button>
                    <button type="button" class="btn btn-primary" id="send-otp-register-again">Gửi lại mã</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Quên mật khẩu Popup Form -->
<div id="forgot-password-popup" class="d-flex align-items-center justify-content-center position-fixed top-0 start-0 w-100 h-100 d-none" style="background: rgba(0, 0, 0, 0.5); z-index: 9999;">
    <div class="forgot-password-popup-content bg-white p-4 rounded shadow position-relative" style="max-width: 400px; width: 100%;">
        <div class="text-center mb-3">
            <h3>Quên mật khẩu</h3>
        </div>

        <!-- Bước 1: Nhập email -->
        <form id="step-email" class="d-block">
            <div class="form-group mb-3">
                <label for="email">Nhập Email:</label>
                <input type="email" id="email-resetpassword" name="email" class="form-control" placeholder="Nhập email của bạn" required>
            </div>
            <button type="button" id="send-otp" class="btn btn-primary w-100">Gửi OTP</button>
        </form>

        <!-- Bước 2: Nhập OTP -->
        <form id="step-otp" class="d-none">
            <div class="form-group mb-3">
                <label for="otp">Nhập OTP:</label>
                <input type="text" id="otp" name="otp" class="form-control" placeholder="Nhập mã OTP" required>
            </div>
            <button type="button" id="verify-otp" class="btn btn-primary w-100">Xác nhận OTP</button>
        </form>

        <!-- Bước 3: Đổi mật khẩu -->
        <form id="step-password" class="d-none">
            <div class="form-group mb-3">
                <label for="new-password">Mật khẩu mới:</label>
                <input type="password" id="new-password" name="newPassword" class="form-control" placeholder="Nhập mật khẩu mới" required>
            </div>
            <div class="form-group mb-3">
                <label for="confirm-password">Xác nhận mật khẩu:</label>
                <input type="password" id="confirm-password" name="confirmPassword" class="form-control" placeholder="Xác nhận mật khẩu mới" required>
            </div>
            <button type="button" id="reset-password" class="btn btn-primary w-100">Đổi mật khẩu</button>
        </form>
    </div>
</div>



<!-- JavaScript -->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        fetch('/Cart/QuantityItems', {
            method: 'GET',
            headers: { 'Content-Type': 'application/json' }
        }).then(response => {
            if (response.ok) {
                return response.json();
            } else {
                console.error('Error fetching quantity: ', response.statusText);
            }
        }).then(data => {
            console.log('Fetched quantity data:', data);
            if (data && data.quantity) {
                var quantityItems = document.getElementsByClassName("quantity-items");
                if(data.quantity > 0){
                    for (let quan of quantityItems) {
                        quan.classList.remove("d-none");
                        quan.textContent = data.quantity;
                    }
                }
            } else {
                console.error('Quantity not found in response data');
            }
        }).catch(error => {
            console.error('Fetch error: ', error);
        });

        const loginPopup = document.getElementById("otp-auth-login-popup");
        const registerPopup = document.getElementById("otp-auth-register-popup");
        const forgotPopup = document.getElementById("forgot-password-popup");
        const loginLink = document.getElementById("login-link");
        const registerLink = document.getElementById("register-link");
        const forgotLink = document.getElementById("forgot-password-link");
        const registerLink2 = document.getElementById("register-link2");
        const loginForm = document.getElementById("login-form");
        const registerForm = document.getElementById("register-form");

        const otpVerifyStep = document.getElementById("otp-verify-step");
        const sendOtpRegisterButton = document.getElementById("send-otp-register");
        const verifyOtpRegisterButton = document.getElementById("verify-otp-register");
        const sendOtpRegisterAgainButton = document.getElementById("send-otp-register-again");


        const emailStep = document.getElementById("step-email");
        const otpStep = document.getElementById("step-otp");
        const passwordStep = document.getElementById("step-password");

        const sendOtpButton = document.getElementById("send-otp");
        const verifyOtpButton = document.getElementById("verify-otp");
        const resetPasswordButton = document.getElementById("reset-password");

        // Hàm mở popup
        function openPopup(popup) {
            popup.classList.remove("d-none");
        }

        if(loginLink){
            loginLink.addEventListener("click", (e) => {
                e.preventDefault();
                openPopup(loginPopup);
            });
        }
        
        if (registerLink){
            registerLink.addEventListener("click", (e) => {
                e.preventDefault();
                openPopup(registerPopup);
            });
        }
        
        if (registerLink2){
            registerLink2.addEventListener("click", (e) => {
                e.preventDefault();
                loginPopup.classList.add("d-none");
                openPopup(registerPopup);
            });
        }

        forgotLink.addEventListener("click", (e) => {
            e.preventDefault();
            openPopup(forgotPopup);
        });

        // Đóng popup khi nhấn ra ngoài
        window.addEventListener("click", (e) => {
            if (e.target === loginPopup) {
                loginPopup.classList.add("d-none");
            } else if (e.target === registerPopup) {
                registerPopup.classList.add("d-none");
            }else if(e.target === forgotPopup){
                forgotPopup.classList.add("d-none");
            }
        });

        // Gửi yêu cầu đăng nhập
        loginForm.addEventListener("submit", async (e) => {
            e.preventDefault();
            const formData = new FormData(loginForm);
            const response = await fetch('/Identity/Login', {
                method: 'POST',
                body: formData
            });

            const result = await response.json();
            if (result.success) {
                showNotification(result.message, 'success');
                loginPopup.classList.add("d-none");
                setTimeout(() => {
                    window.location.href = '/';
                }, 2000);
            } else {
                showNotification(result.message, 'danger');
            }
        });

        sendOtpRegisterButton.addEventListener("click", async () => {
            const formData = new FormData(registerForm);

            const name = document.getElementById("register-name").value.trim();
            const phone = document.getElementById("register-phone").value.trim();
            const email = document.getElementById("register-email").value.trim();
            const password = document.getElementById("register-password").value.trim();

            let isValid = true;
            let errorMessage = "";

            if (!name) {
                isValid = false;
                errorMessage += "Họ và Tên là bắt buộc.\n";
            }

            const phonePattern = /^[0-9]{10,15}$/;
            if (!phone || !phonePattern.test(phone)) {
                isValid = false;
                errorMessage += "Số điện thoại phải có 10-15 chữ số.\n";
            }

            const emailPattern = /^([\w-\.]+@@([\w-]+\.)+[\w-]{2,4})?$/;
            if (!email || !emailPattern.test(email)) {
                isValid = false;
                errorMessage += "Định dạng email không hợp lệ.\n";
            }

            if (!password || password.length < 6) {
                isValid = false;
                errorMessage += "Mật khẩu phải dài ít nhất 6 ký tự.\n";
            }

            if (isValid) {
                const response = await fetch('/Identity/RegisterRequestOtp', {
                    method: 'POST',
                    body: formData
                });

                const result = await response.json();
                if (result.success) {
                    showNotification("OTP được gửi đến email của bạn.", 'success');
                    registerForm.classList.add("d-none");
                    otpVerifyStep.classList.remove("d-none");
                } else {
                    showNotification(result.message, 'danger');
                }
            } else {
                showNotification(errorMessage, 'warning');
                return;
            }
        });

        sendOtpRegisterAgainButton.addEventListener("click", async () => {
            const response = await fetch('/Identity/SendOtpRegisterAgain', {
                method: 'GET'
            });

            const result = await response.json();
            if (result.success) {
                showNotification("OTP được gửi đến email của bạn.", 'success');
                registerForm.classList.add("d-none");
                otpVerifyStep.classList.remove("d-none");
            } else {
                showNotification(result.message, 'danger');
            }
        });


        verifyOtpRegisterButton.addEventListener("click", async () => {
            const otpCode = document.getElementById("otp-code").value.trim();
            const email = document.getElementById("register-email").value.trim();

            if (!otpCode) {
                showNotification("Vui lòng nhập OTP.", 'warning');
                return;
            }

            const response = await fetch('/Identity/Register', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ email, otpCode })
            });

            const result = await response.json();
            if (result.success) {
                showNotification("Đã xác minh OTP. Đăng ký thành công.", 'success');
                registerPopup.classList.add("d-none");
                openPopup(loginPopup);
            } else {
                showNotification(result.message, 'danger');
            }
        });

        sendOtpButton.addEventListener("click", async () => {
            const email = document.getElementById("email-resetpassword").value.trim();

            const emailPattern = /^([\w-\.]+@@([\w-]+\.)+[\w-]{2,4})?$/;
            if (!email || !emailPattern.test(email)) {
                showNotification("Định dạng email không hợp lệ.", 'warning');
                return;
            }

            const response = await fetch('/Identity/ForgotPasswordRequestOtp', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ email })
            });
            const result = await response.json();

            if (result.success) {
                showNotification("OTP đã được gửi đến email của bạn.", 'success');
                emailStep.classList.add("d-none");
                otpStep.classList.remove("d-none");
            } else {
                showNotification(result.message, 'danger');
            }
        });

        verifyOtpButton.addEventListener("click", async () => {
            const otp = document.getElementById("otp").value;
            const email = document.getElementById("email-resetpassword").value.trim();

            if (!otp) {
                showNotification("Vui lòng nhập OTP", 'warning');
                return;
            }

            const response = await fetch('/Identity/VerifyOtp', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ otp, email })
            });
            const result = await response.json();

            if (result.success) {
                showNotification("OTP xác nhận thành công.", 'success');
                otpStep.classList.add("d-none");
                passwordStep.classList.remove("d-none");
            } else {
                showNotification(result.message, 'danger');
            }
        });

        resetPasswordButton.addEventListener("click", async () => {
            const newPassword = document.getElementById("new-password").value;
            const confirmPassword = document.getElementById("confirm-password").value;
            const email = document.getElementById("email-resetpassword").value;

            if (!newPassword || !confirmPassword) {
                showNotification("Vui lòng nhập đầy đủ thông tin.", 'warning');
                return;
            }
            if (newPassword !== confirmPassword) {
                showNotification("Mật khẩu xác nhận không khớp.", 'warning');
                return;
            }

            const response = await fetch('/Identity/ResetPassword', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ newPassword, email })
            });
            const result = await response.json();

            if (result.success) {
                showNotification("Mật khẩu đã được đổi thành công.", 'success');
                forgotPopup.classList.add("d-none");
                openPopup(loginPopup);
            } else {
                showNotification(result.message, 'danger');
            }
        });
    });
</script>
