<h2>Trung tâm workshop của bạn</h2>
<div class="row">

    <!-- Event Management Section -->
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Workshop của bạn</h4>
            </div>
            <div class="card-body">
                <p class="card-text">Xem và quản lí sự kiện của bạn ở đây.</p>
                <a href="@Url.Action("Index", "Events")" class="btn btn-primary">Workshop của bạn</a>
            </div>
        </div>
    </div>

    <!-- Zone Management Section -->
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Quản lí vé</h4>
            </div>
            <div class="card-body">
                <p class="card-text">Cập nhật các hạng vé khác nhau và thiết lập giá vé cho workshop của bạn.</p>
                <a href="@Url.Action("Index", "Zones")" class="btn btn-primary">Cài đặt</a>
            </div>
        </div>
    </div>
</div>
