<h2>Dashboard Overview</h2>
<div class="row">
    <!-- Zone Management Section -->
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Users Management</h4>
            </div>
            <div class="card-body">
                <p class="card-text">Configure zones for events.</p>
                <a href="@Url.Action("Index", "Users")" class="btn btn-primary">Manage Users</a>
            </div>
        </div>
    </div>
    <!-- Event Management Section -->
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Event Management</h4>
            </div>
            <div class="card-body">
                <p class="card-text">View and edit your events here.</p>
                <a href="@Url.Action("Index", "Events")" class="btn btn-primary">Manage Events</a>
            </div>
        </div>
    </div>

    <!-- Zone Management Section -->
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Zone Management</h4>
            </div>
            <div class="card-body">
                <p class="card-text">Configure zones for events.</p>
                <a href="@Url.Action("Index", "Zones")" class="btn btn-primary">Manage Zones</a>
            </div>
        </div>
    </div>
</div>
